body {
    perspective: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn-zoom {
    transition: transform 0.5s ease;
}
.btn-zoom:hover {
    transform: scale(1.1);
}

.btn-rotate {
    transition: transform 1s ease-out;
    transform-origin: top left;
}
.btn-rotate:hover {
    transform: rotate(15deg);
    transform-origin: top left;
}

.btn-translate {
    transition: transform 0.5s ease-out;
}
.btn-translate:hover {
    transform: translateX(8px);
}

.btn-skew {
    transition: transform 0.5s ease;
}
.btn-skew:hover {
    transform: skewX(5deg);
}

.btn-shine {
    position: relative;
    width: 100px;
    overflow: hidden;
}

.btn-shine > * {
    position: absolute
}
.btn-shine:hover > .shine {
    transform: translateY(-32px) translateX(64px);
}

.shine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transform: translateY(-32px) translateX(-56px);
    transition: transform 0.5s ease;
}

.shine-1 {
    background-color: white;
    width: 16px;
    height: 100px;
    transform: skew(20deg);
}

.shine-2 {
    background-color: white;
    width: 4px;
    height: 100px;
    transform: skew(20deg);
}

.anim {
    will-change: transform;
    width: 70%;
    aspect-ratio: 1/1;
    background-color: coral;
    border-radius: 20%;
    border: solid 2px crimson;
}

.anim-bounce {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: bounce 2s ease 1s infinite normal none;
}

.anim-rotate {
    animation: rotate 4s linear 1s infinite normal none;
}

.anim-rotate-reverse {
    animation : rotate 2s linear 1s infinite reverse none;
}

.anim-rotate-special {
    animation: rotate-special 2s ease-out 1s infinite normal none;
}

.multiple-rotate {
    will-change: transform;
    aspect-ratio: 1/1;
    width: 160px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.multiple-rotate * {
    justify-self: center;
    align-self: center;
}

.anim-1 {
    background-color: lavender;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.anim-2 {
    background-color: lavender;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.anim-3 {
    background-color: lavender;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.anim-4 {
    background-color: lavender;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.anim-big {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.anim-cubez {
    animation: bounce-far 0.5s cubic-bezier(1,-1.65,.38,1.94) 1s forwards;
}

@keyframes bounce {
    0%      { transform: translateX(0); }
    50%     { transform: translateX(50px); }
    100%    { transform: translateX(0); }
}

@keyframes bounce-far {
    0%      { transform: translateX(0); }
    100%     { transform: translateX(500px); }
}

@keyframes rotate {
    100%    { transform: rotate(360deg);}
}

@keyframes rotate-special {
    0%      { transform: rotate(0); }
    60%     { transform: rotate(360deg); }
    90%     { transform: rotate(-15deg); }
    95%     { transform: rotate(0); }
}