/* VARIABLES */

// Couleurs
$color-dark: #271a30;
$color-light: #fffc6a;
$color-1: #630279;
$color-2: #ff0c75;
$color-3: #fd6f00;
$color-4: #ffa104;
$color-6: #0093fe;

/* MIXINS */

/* BASE */
* {
    font-family: Sen, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
