.couleur-1 {
    background-color: #000000;
}

.couleur-2 {
    background-color: #ffffff;
}

.couleur-3 {
    background-color: #aa8329;
}

.couleur-4 {
    background-color: #666666;
}

.couleur-5 {
    background-color: #008000;
}

